.App{
  --white: #fff;
  --blue: #355fc1;
  --red: #cf252b;
  --dark-grey: #888;
  --grey: #bbb;
  --light-grey: #dfdfdf;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap:4em;
  /* background-image: linear-gradient(60deg, #355fc1, #cf252b); */
  
  width:100vw;
  height: 100vh;
  overflow-y: scroll;
}
.App:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../public/flag-waving.svg");
  background-attachment: fixed;
  background-size: cover;
  background-size: 250vw;
  background-repeat: no-repeat;
  background-position: -50vw -50vh;
  /* opacity: 0.8; */
  filter:contrast(70%)
  

}

.hero-title, .hero-subtitle{
  margin-bottom: 0;
  text-align: center;
  font-size: 10vw;
  color:white;
  /* text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15); */
  text-shadow: 0 0.01em 0 #ccc, 
               0 0.02em 0 #c9c9c9,
               0 0.03em 0 #bbb,
               0 0.04em 0 #b9b9b9,
               0 0.05em 0 #aaa,
               0 0.05em 0.1em rgba(0,0,0,.1),
               0 0 0.05em rgba(0,0,0,.1),
               0 0.01em 0.03em rgba(0,0,0,.3),
               0 0.03em 0.05em rgba(0,0,0,.2),
               0 0.05em 0.08em rgba(0,0,0,.25),
               0 0.08em 0.08em rgba(0,0,0,.2),
               0 1em 1em rgba(0,0,0,.15);

}
.hero-subtitle{
  font-size: 3vw;
  margin-bottom: 2em;
}
.search-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
}
.search {
  border: 2px solid #dfdfdf;
  border-radius: 1em;
  height: 2.5em;
  width:60vw;
  padding: 0.5em 1em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #888;
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
  background-color: rgba(255,255,255,60%);
}
.search span {
  background: #bbb;
  margin-right: 7px;
  color: #fff;
  padding: 4px 7px;
  border-radius: 20px;
}
.search span[data-selected] {
  background: #355fc1;
}
.search::after {
  content: "";
  background: #888;
  width: 1px;
  height: 19px;
  margin: -1px 0 0 -1px;
  display: none;
  -webkit-animation: blink 0.5s infinite alternate;
          animation: blink 0.5s infinite alternate;
}
.search:focus {
  border-color: var(--blue);
  outline: none;
}
.search:focus[data-cursor]::after {
  display: block;
}
@media screen and (max-width: 736px) {
  .search:focus[data-cursor]::after {
    display: none;
  }
}
.search:focus + h1 {
  color: #355fc1;
}
.search:focus + h1 span {
  border-color: #355fc1;
}

/* Button */
.button-cta {
  width:40vw;
  align-items: center;
  /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
  background-image: linear-gradient(144deg, #355fc1, #cf252b);
  border: 0;
  border-radius: 1em;
  box-shadow: rgba(69, 69, 69, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-cta:active,
.button-cta:hover {
  outline: 0;
  border:2px solid rgb(5, 6, 45);
}

.button-cta span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 0.9em;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-cta:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-cta {
    font-size: 24px;
    min-width: 196px;
  }
}

.results{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  column-gap: 2em;
  row-gap: 2em;
  margin:2em;
  max-width: 1166px;
}
@media screen and (min-width:800px) {
  .results{
    flex-direction: row;
  }
}

.rep-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1em;
  flex-basis: 25%;
  /* max-width: 275px; */
  font-size: 1rem;
  padding:24px;
  color:white;
  border: 3px solid rgb(5, 6, 45, 40%);
  background: rgb(5, 6, 45, 30%);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
}

.rep-card.us-senate{
  order:4;
}
.rep-card img{
  width:256px;
  border-radius: 1rem;
  border: 3px solid rgb(5, 6, 45, 40%);

}
.rep-card a{
  color:white;
}
